name: Build

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Build
        uses: diplodoc-platform/docs-build-action@v3
        env:
          VCS_TOKEN: ${{ secrets.YC_UI_BOT_GITHUB_TOKEN }}
        with:
          revision: "pr-${{ github.event.pull_request.number }}"
